<nav class="navbar">
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    <img src="./code/assets/images/pngegg.png" alt="logo" width="70" />
  </a>
  <div>
    <a href="../pages/recipes.html" class="nava" data-page="recipes">main</a>
    <a href="../pages/addRecipe.html"  class="nava phonedix" data-page="addRecipe">Add Recipe</a>
    <a href="../pages/editRecipe.html"  class="nava phonedix" data-page="editRecipe">Edit Recipe</a>
    <a href="../pages/emailRecipe.html"  class="nava" data-page="emailRecipe">Email Recipe</a>
    
  </div>
</nav>
